li{
    text-transform: capitalize;
    letter-spacing: 0.059rem;
    /* color: #FA615B; */
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
}
.li:hover{
    transform: scale(1.4);
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    border: none;
}
.li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffd900;
    transition: width 0.4s ease-in-out;
}
.li:hover::before {
    width: 100%;
}
.acctive{
    color: #ffd900 !important;
    font-size: 1.5rem;
    border-bottom: .2px solid #ffd900;
}
.acctive:hover{
    border: none;
}